<section class="header ">
    <div class="header-content general-grid">
        <div class="header-content__logo" (click)="navigateTo('inicio')">
            <img src="assets/images/logo_full_color.svg" alt="">
        </div>
        
        <div class="header-content__menu">
            <ul class="header-content__menu__list">
                <li class="header-content__menu__list__li header-content__menu__list__li--text">
                    <a routerLink="inicio#inicio" routerLinkActive="router-link-active" (click)="forceNavigate('inicio')">
                        Inicio
                    </a>
                </li>
                <li class="header-content__menu__list__li header-content__menu__list__li--text">
                    <a routerLink="inicio#beneficios" routerLinkActive="router-link-active" (click)="forceNavigate('beneficios')">
                        Beneficios
                    </a>
                </li>
                <li class="header-content__menu__list__li header-content__menu__list__li--button" *ngIf="!user && !user.token">
                    <a class="btn-transparent" (click)="navigateTo('registrarse')">
                        Registrarse
                    </a>
                </li>
                <li class="header-content__menu__list__li" *ngIf="haveFavouriteTech.length > 0">
                    {{haveFavouriteTech.length}}
                </li>
            </ul>
        </div>
    </div>
</section>