@import 'styles';

.header {
  padding: 50px 0 15px;
  position: fixed;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: $color-white;
  z-index: 9;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 14%;

      img {
        width: 100%;
      }
    }

    &__menu {
      width: 35%;

      &__list {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__li {
          margin: 0 2%;
          width: 30%;
          text-align: center;
          font-size: 1em;
          font-family: 'Montserrat-Bold';
          cursor: pointer;

          &--text {
            a {
              color: $color-black;
            }

            &:hover {
              text-decoration: underline;
            }
          }

          &--button {
            width: 40%;
            margin-right: 0;

            a {
              color: $color-blue;

              &:hover {
                color: $color-white;
              }
            }

            &:hover {
              text-decoration: none;
            }
          }

          &--fav {
            &__icon {
              position: relative;
              height: 30px;
              width: 30px;
              display: block;

              img {
                width: 30px;
              }

              &-number {
                position: absolute;
                top: -8px;
                right: -8px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {
    &-content {
      flex-direction: column;
      &__logo {
        width: 50%;
        padding-bottom: 10px;
      }

      &__menu {
        width: 100%;

        &__list {
          
          li {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
