<section class="benefit">
    <div class="benefit-content general-grid">
        <p class="benefit-content__title">Entre los beneficios que ofrecemos se encuentran <span class="benefit-content__title--blue">;)</span></p>
        <div class="benefit-content__list">
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_hour.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Flexibilidad Horaria</p>
            </div>
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_homeoffice.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Home Office</p>
            </div>
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_workshops.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Capacitaciones y workshops</p>
            </div>
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_drinksnacks.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Snacks, frutas y bebidas gratis</p>
            </div>
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_laptop.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Semana Remota</p>
            </div>
            <div class="benefit-content__list__element">
                <div class="benefit-content__list__element-img">
                    <img src="assets/images/ic_brain.svg" alt="">
                </div>
                <p class="benefit-content__list__element-text">Trabajar en ultimas tecnologías</p>
            </div>
        </div>
    </div>
</section>