@import 'variables';

.general-grid {
  max-width: 1200px;
  margin: 0 auto;
}

.top-space {
  padding-top: 150px;
}

.btn-transparent {
  display: block;
  border-radius: 20px;
  border: 1px solid $color-blue;
  padding: 10px 15px;
  color: $color-blue;
  transition: background-color 0.8s, color 0.8s;
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}


.btn-blue {
  display: block;
  border-radius: 20px;
  padding: 10px 15px;
  background-color: $color-blue;
  color: $color-white;
  transition: background-color 0.8s, color 0.8s;
  border: 1px solid $color-blue;
  &:hover {
    background-color: transparent;
    color: $color-blue;
    border: 1px solid $color-blue;
  }
}