@import "styles";

.welcome {
  background-image: url('../../../../assets/images/bg_header.png');
  width: 100%;
  height: 60vh;
  padding-top: 150px;

  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__text {
        padding-right: 15%;
        &__message {
            font-size: 2.5em;
            font-family: 'Montserrat-Regular';
            &--bold {
                font-family: 'Montserrat-Bold';
            }
            &--green {
                font-family: 'Montserrat-Bold';
                color: $color-green;
            }
        }
    }

    &__image {
        padding-right: 8%;

        img {
            transform: scaleX(-1);
        }
    }
  }
}
