<app-header></app-header>

<section class="register top-space">
  <div class="register-content general-grid">
    <h1 class="register-content__title">Registrarse</h1>

    <form class="register-content__form" [formGroup]="registerForm" (ngSubmit)="saveRegister()">
      <div class="register-content__form__column">
        <label>Nombre*</label>
        <input type="text" formControlName="userName" />
        <label class="register-content__form__column-error" *ngIf="(userName.touched || sendForm) && userName.invalid">{{
          getError('userName', userName.errors)
        }}</label>
      </div>
      <div class="register-content__form__column">
        <label>Apellido*</label>
        <input type="text" formControlName="lastName" />
        <label class="register-content__form__column-error" *ngIf="(lastName.touched || sendForm) && lastName.invalid">{{
          getError('lastName', lastName.errors)
        }}</label>
      </div>

      <div class="register-content__form__column">
        <label>País*</label>
        <select name="" id="" formControlName="country" (change)="filterDepartments(country.value)">
          <option value="">Selecciona una opción</option>
          <option *ngFor="let country of countries" [value]="country.country_id">{{ country.country_name }}</option>
        </select>
        <label class="register-content__form__column-error" *ngIf="(country.touched || sendForm) && country.invalid">{{
          getError('country', country.errors)
        }}</label>
      </div>
      <div class="register-content__form__column">
        <label>Departamento/Provincia*</label>
        <select name="" id="" formControlName="department">
          <option value="">Selecciona una opción</option>
          <option *ngFor="let department of departments" [value]="department.department_id">{{ department.department_name }}</option>
        </select>
        <label class="register-content__form__column-error" *ngIf="(department.touched || sendForm) && department.invalid">{{
          getError('department', department.errors)
        }}</label>
      </div>

      <div class="register-content__form__column">
        <label>Email*</label>
        <input type="email" formControlName="email" />
        <label class="register-content__form__column-error" *ngIf="(email.touched || sendForm) && email.invalid">{{
          getError('email', email.errors)
        }}</label>
      </div>
      <div class="register-content__form__column">
        <label>Teléfono*</label>
        <input type="text" formControlName="phone" />
        <label class="register-content__form__column-error" *ngIf="(phone.touched || sendForm) && phone.invalid">{{
          getError('phone', phone.errors)
        }}</label>
      </div>

      <div class="register-content__form__column">
        <label>Contraseña*</label>
        <input type="password" name="" id="" formControlName="password" />
        <label class="register-content__form__column-error" *ngIf="(password.touched || sendForm) && password.invalid">{{
          getError('password', password.errors)
        }}</label>
      </div>
      <div class="register-content__form__column">
        <label>Repetir contraseña*</label>
        <input type="password" name="" id="" formControlName="confirmPassword" />
        <label class="register-content__form__column-error" *ngIf="(confirmPassword.touched || sendForm) && confirmPassword.invalid">{{
          getError('confirmPassword', confirmPassword.errors)
        }}</label>
      </div>

      <div class="register-content__form__terms">
        <div class="register-content__form__terms-check">
          <input type="checkbox" name="" id="" formControlName="terms" />
          <p>Acepto <a routerLink="/terminos-y-condiciones">terminos y condiciones*</a></p>
        </div>
        <label class="register-content__form__column-error" *ngIf="(terms.touched || sendForm) && terms.invalid">{{
          getError('terms', terms.errors)
        }}</label>
      </div>

      <button class="btn-blue" [ngClass]="{ disabled: registerForm.invalid }" [disabled]="registerForm.invalid">Guardar</button>
    </form>
  </div>
</section>
