<section class="woloxer">
    <div class="woloxer__image">
        <p class="woloxer__image__text">350 + <span class="woloxer__image__text--blue">Woloxers</span></p>
        <div class="woloxer__image__twitter">
            <img src="assets/images/icon_twitter.png" alt="">
            <p>@Wolox</p>
        </div>
        <a href="https://twitter.com/Wolox" target="_blank" class="btn-transparent">Siguenos</a>
    </div>

    <div class="woloxer__text">
        <p class="woloxer__text__message">
            Trabajamos para <span class="woloxer__text__message--blue">convertir </span> <span class="woloxer__text__message--green">ideas</span> en productos.
        </p>
    </div>
</section>