<section class="thanks">
    <div class="thanks-content general-grid">
      <div class="thanks-content__text">
        <p class="thanks-content__text__message">
          Gracias por <span class="thanks-content__text__message--blue">completar el ejercicio</span>
        </p>
        <p class="thanks-content__text__sub-message">Te invitamos a ver para mas información</p>
        <a href="https://www.wolox.com.ar/" target="_blank" class="btn-blue">Conocer más</a>
      </div>
      <div class="thanks-content__image">
        <img src="assets/images/ic_wolox_footer.svg" alt="" />
      </div>
    </div>
  </section>